@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

html{
  font-family: 'Shippori Mincho', Georgia, "Times New Roman",serif;
  font-size: 1.125em;
  background: #FF9ECE;
}

header{
	font-family: 'Shippori Mincho', Georgia, "Times New Roman",serif;
	font-size: 1.125em;
	text-align: center;
	background: #30D5C8;
}

h1 {
  font-family: 'Shippori Mincho', Georgia, "Times New Roman",serif;
  font-size: 250%;
  font-weight: bold;
  text-align: center;
  color: #654321;
}

h2 {
  font-family: 'Shippori Mincho', Georgia, "Times New Roman",serif;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  color: #654321;
  }

form{
  border: transparent;
}

label {
  display: block;
  padding-bottom: 0.25em;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 1em;
}

input {
  font-family: 'Shippori Mincho', Georgia, "Times New Roman", serif;
  overflow: visible;
  margin-bottom: 1em;
  margin-top: 1em;
}

#finish {
  margin-bottom: 1em;
  background-image: linear-gradient(to right, #FFFDD0, #D5B85A);
}

#wrap input[type="text"] {
  border-color: transparent;
  background-color: #808080;
}

#wrap input[type="email"] {
  border-color: transparent;
  background-color: #808080;
}

#wrap input[type="date"] {
  border-color: transparent;
  background-color: #808080;
}

#wrap input[type="number"] {
  border-color: transparent;
  background-color: #808080;
}

@media screen and (min-width: 10em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  html {
    font-size: 50%;
    display: inline-block;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 15em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  html {
    font-size: 75%;
    display: inline-block;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 50em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  html {
    font-size: 100%;
    display: inline-block;
    text-align: center;
    justify-content: center;
  }
}
